In [1]:
print ("Hello, World!")

Hello, World!

In [3]:
#variabel
salam = "Selamat Sore!"
print(salam)

Selamat Sore!

In [4]:
#print sep dan end
print("Budi", 123, ".")

Budi 123 .

In [5]:
print("Budi", 123, ".", sep=" ")

Budi 123 .

In [6]:
print("Budi", 123, ".", sep="-")

Budi-123-.

In [8]:
print("Halo selamat pagi!", end="-")
print("Saya ingin jadi AI Profesional!")

Halo selamat pagi!-Saya ingin jadi AI Profesional!

In [9]:
#ini untuk sapaan
menyapa = "Halo!"
print(menyapa)

Halo!

## Tipe Data

In [10]:
#tipe data number
#integer
integer = 100
print(integer)

100

In [11]:
#float
float = 0.5
print(float)

0.5

In [12]:
#complex 
comp = 1+3j
print(comp)

(1+3j)

In [13]:
print(type(integer))
print(type(float))
print(type(comp))

<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
#tipe data string
string = "Indonesia"
print(type(string))

<class 'str'>

In [17]:
boolean = true
print(boolean)

NameError: name 'true' is not defined

In [18]:
num = 0 
print(bool(num))

False

In [19]:
num = 1 
print(bool(num))

True

##Operasi dasar

In [23]:
num_satu = 2 
num_dua = 1
number = num_satu + num_dua
print(number)

3

In [27]:
x = 29
y = 4.5
pengurangan = x-y
print(pengurangan)

24.5

In [28]:
x = 19
y = 98
multiple = x*y
print(multiple)

1862

In [29]:
x = 'ha'
print(x*7)

hahahahahahaha

In [30]:
x = 15
y = 2
bagi = x/y
print(bagi)

7.5

In [31]:
x = 15
y = 2
bagi = x//y
print(bagi)

7

In [32]:
x = 9
y = 2
modulus = x % y
print(modulus)

1

In [35]:
x = 5
exponent = x ** 6
print(exponent)

15625

## Operator Penugasan

In [36]:
x = "Halo"
print(x)

Halo

In [37]:
x = 4
x += 5
print(x)

9

In [38]:
x = 5
x -= 6
print(x)

-1

In [39]:
x = 15
x /= 46
print(x)

0.32608695652173914

In [40]:
x = 16
x *= 45
print(x)

720

#operator perbandingan

In [41]:
x = 4
y = 7
hasil = x > y 
print(hasil)

False

In [42]:
x = 4
y = 7
hasil = x < y 
print(hasil)

True

In [43]:
hasil2 = x == y
print(hasil2)

False

#operator perbandingan

In [9]:
x = 10
y = 5
hasil3 = x <= y
hasil4 = x == y
hasil5 = x != y
hasil6 = x >= y
hasil7 = x > y
hasil8 = x < y
print(hasil3, hasil4, hasil5, hasil6, hasil7, hasil8)

False False True True True False

#operator string

In [27]:
kata_1 = 'jakarta'
kata_2 = 'TERCINTA'
kalimat = 'I Love Python'
print(str.upper(kata_1))
print(str.lower(kata_2))
print(str.strip(kalimat))
print(str.join(kata_1,kata_2))
print(str.split(kata_1, kata_2))
print(kalimat.replace('Python', 'Windows'))

JAKARTA
tercinta
I Love Python
TjakartaEjakartaRjakartaCjakartaIjakartaNjakartaTjakartaA
['jakarta']
I Love Windows