## Penggabungan Kondisi

### And

In [2]:
# Input Jam
jam = int(input("Pukul berapa sekarang?"))

#Pagi : 5 - 11
#Siang : 11 - 15
#Sore : 15 - 18
#Malam : 18 - 4

# Kondisi

if jam >= 5 and  jam <= 11:
    print("Selamat Pagi!")
elif jam > 11 and jam <= 15:
    print("Selamat Siang!")
elif jam > 15 and jam <= 18:
    print("Selamat Sore!")
else:
    print("Selamat Malam!")

Pukul berapa sekarang?12
Selamat Siang!

In [3]:
# Shorthand AND

angka = 5 
if 4 < angka < 6: 
    print("Halo")
else: 
    print("Else")

Halo

### Or

In [4]:
# True or true
if 6 < 7 or 8 < 9:
    print("True")

True

In [5]:
# True or false
if 6 < 7 or 8 > 9:
    print("One of Them are True")

One of Them are True

## Not

In [6]:
num = 6
if not(num == 9):
    print("True")

True

In [7]:
x = False
print (not x)

True

In [10]:
li = ['A', 'B', 'C']
if('D' not in li):
    print('C not in list')
else:
    print('C di dalam list')

C not in list

In [12]:
masukkan = int(input("Angka: "))
li = [1,2,3,4,5,6,7,8,9,10]
if (masukkan not in li):
    print(masukkan, "Tidak ada di dalam list")
else:
    print(masukkan, "Ada di dalam list")

Angka: 140
140 Tidak ada di dalam list

## Is

In [13]:
angka = 8
if (type(angka) is int):
    print(angka, "adalah int")
else:
    print(angka, "bukan int")

8 adalah int

# Random

In [18]:
from random import randint 

print(randint(1,100))

78

In [22]:
from random import randrange

print(randrange(1, 100, 10))

61

# List

In [28]:
list_satu = ['Bakso', 'Cireng', 'Telor Gulung', 'Pentol']
#Memanggil salah satu nilai list
print(list_satu[:2])

['Bakso', 'Cireng']

In [31]:
# Mengedit value
list_satu[2] = 'Batagor'
print(list_satu[1:4])
list_satu[1] = 'Siomay'
print(list_satu[1])

['Cireng', 'Batagor', 'Pentol']
Siomay

In [33]:
# Menambahkan Value
list_satu.append("Mie Ayam")
print(list_satu)
list_satu.append("Kebab")
print(list_satu)

['Bakso', 'Siomay', 'Batagor', 'Pentol', 'Mie Ayam', 'Mie Ayam']
['Bakso', 'Siomay', 'Batagor', 'Pentol', 'Mie Ayam', 'Mie Ayam', 'Kebab']

In [34]:
# Menghapus nilai
del list_satu[3]
print(list_satu)

['Bakso', 'Siomay', 'Batagor', 'Mie Ayam', 'Mie Ayam', 'Kebab']

In [37]:
# looping list
for makanan in list_satu:
    print("Saya suka" ,makanan, sep=': ')

Saya suka: Bakso
Saya suka: Siomay
Saya suka: Batagor
Saya suka: Mie Ayam
Saya suka: Mie Ayam
Saya suka: Kebab

# Dictionary

In [38]:
bio = {'Nama': 'Budiman', 'Umur':'20', 'Profesi':'DevOps'}
print(bio)

{'Nama': 'Budiman', 'Umur': '20', 'Profesi': 'DevOps'}

In [42]:
print(bio['Nama'])
print(bio['Umur'])
print(bio['Profesi'])

Budiman
20
DevOps

In [44]:
for key, value in bio.items():
    print(key, value, sep =': ')

Nama: Budiman
Umur: 20
Profesi: DevOps

In [50]:
#Dictionary bercabang
pelanggan = {
    1:{
        'Nama': 'Budiman', 'Umur': '20', 'Profesi': 'DevOps'
    },
    2:{
        'Nama': 'Abraham', 'Umur': '24', 'Profesi': 'Chef'
    },
    3:{
        'Nama': 'Abraham', 'Umur': '24', 'Profesi': 'Manager'
    }
}
print(pelanggan[1])
print(pelanggan[2])
print(pelanggan[3])

{'Nama': 'Budiman', 'Umur': '20', 'Profesi': 'DevOps'}
{'Nama': 'Abraham', 'Umur': '24', 'Profesi': 'Chef'}
{'Nama': 'Abraham', 'Umur': '24', 'Profesi': 'Manager'}

In [55]:
#Looping
for key, value in pelanggan.items():
    print("Pelanggan ke-", key)
    #looping
    for key2 in value:
        print(key2, value[key2], sep=': ')
    print()

Pelanggan ke- 1
Nama: Budiman
Umur: 20
Profesi: DevOps

Pelanggan ke- 2
Nama: Abraham
Umur: 24
Profesi: Chef

Pelanggan ke- 3
Nama: Abraham
Umur: 24
Profesi: Manager

# Tuple

In [57]:
tup = ('Gajah', 'Badak', 'Jerapah' )
print(tup)
print(type(tup))

('Gajah', 'Badak', 'Jerapah')
<class 'tuple'>

In [58]:
tup.append('Kucing')

AttributeError: 'tuple' object has no attribute 'append'

In [59]:
del tup[2]

TypeError: 'tuple' object doesn't support item deletion

In [60]:
tup[0]= "Ayam"

TypeError: 'tuple' object does not support item assignment

In [61]:
print(len(tup))

3

In [62]:
print(tup[1])

Badak

In [63]:
#convert
tup_2 = list(tup)
print(tup_2)

['Gajah', 'Badak', 'Jerapah']

In [67]:
tup_2[1] = 'Kucing'
print(tup_2)
tup_3 = tuple(tup_2)
print(tup_3)

['Gajah', 'Kucing', 'Jerapah']
('Gajah', 'Kucing', 'Jerapah')

# Set

In [69]:
set_satu = {'Berlin', 'Cairo', 'Tallin', 'Warsaw', 'Vaduz', 'Sofia'}
print(set_satu, type(set_satu))

{'Vaduz', 'Sofia', 'Berlin', 'Tallin', 'Warsaw', 'Cairo'} <class 'set'>

In [70]:
print(set_satu[1])

TypeError: 'set' object is not subscriptable

In [71]:
set_angka = {1,2,2,3,3,4,5,6,6,5,7,9,8}
print(set_angka)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
set_kota = {'Berlin', 'Cairo', 'Tallin', 'Warsaw', 'Vaduz', 'Sofia', 'Berlin', 'Sofia', 'Cairo'}
print(set_kota)

{'Vaduz', 'Sofia', 'Berlin', 'Tallin', 'Warsaw', 'Cairo'}

In [74]:
set_angka1 = {1,2,3,4,5,6,7,8,9,10}
set_angka2 = {5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20}
print(set_angka1 & set_angka2)
print(set_angka1 | set_angka2)

{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}