## Operasi String

### mengubah huruf besar/kecil

In [1]:
#Upper
nama = "bayu"
nama_cap = nama.upper()
print(nama_cap)

BAYU

In [2]:
#lower
nama = "BUDI"
nama_low = nama.lower()
print(nama_low)

budi

In [3]:
print(nama.lower())

budi

# Awalan Akhiran

In [4]:
#rstrip
rstrip = "Indonesia    "
print(rstrip.rstrip())

Indonesia

In [5]:
#lstrip
lstrip = "     Indonesia"
print(lstrip.lstrip())

Indonesia

In [6]:
#strip
strip = "    Indonesia    "
strip_dua = " Merdeka! "
print(strip.strip(),strip_dua)

Indonesia  Merdeka!

In [7]:
#strip => menghilangkan bagian kalimat tertentu
word = "HAlosemuA"
print(word.strip('Halo'))

AlosemuA

## Menggabungkan dan Memisahkan String

In [8]:
#join
print(' '.join(['Indonesia',' ','AI']))

Indonesia   AI

In [9]:
#split
print('Indonesia . AI'.split('.'))

['Indonesia ', ' AI']

In [10]:
#split dalam bentuk variabel
var = "Indonesia tanah airku"
var_dua = var.split("Indonesia")
print(var_dua)

['', ' tanah airku']

# Mengganti Elemen Substring

In [11]:
#replace
nama = "Indonesia Negaraku"
print(nama.replace('Negaraku', 'Tanah Airku'))

Indonesia Tanah Airku

In [12]:
lower = "aku cinta indonesia"
print(lower.isalpha())

False

## Lain Lain

In [13]:
nama ="adiyaksa"
print(nama.capitalize())

Adiyaksa

In [14]:
nama = "john mc dow"
print(nama.title())

John Mc Dow

# PERTEMUAN 2

## Konversi Antar Tipe Data

In [15]:
#int to string
angka = 1
print(type(angka))

<class 'int'>

In [16]:
angka_dua = str(angka)
print(angka_dua)
print(type(angka_dua))

1
<class 'str'>

In [17]:
#Str to Int
angka = 1.5
print(type(angka))

<class 'float'>

In [18]:
angka_dua = int(angka)
print(angka_dua)

1

In [19]:
x = 8
x_dua = float(x)
print(x_dua)

8.0

In [20]:
print('Halo {}'. format('Semuanya'))

Halo Semuanya

In [21]:
var = "indonesia"
print('Aku cinta %s' % var)

Aku cinta indonesia

In [22]:
var_dua = 1234
print('Berhitung mulai dari %d' % var_dua)

Berhitung mulai dari 1234

## Input Data

In [23]:
nama_satu = input('Siapa Nama Kamu?')
print(type(nama_satu))

Siapa Nama Kamu?Tama
<class 'str'>

In [24]:
tambah = input("Masukkan Angka: ")
tambah_dua = 200
tambah_tiga = int(tambah) + 200
print(tambah_tiga)

Masukkan Angka: 45
245

## IF ELSE ELIF

In [25]:
y = 40 
z = 200
w = y > z 
print(w)
if w == False:
    print("ternyata 40 lebih kecil dari 100")

False
ternyata 40 lebih kecil dari 100

In [26]:
var_x = 0 
if var_x > 1:
    print("5 besar dari 1")
else:
    print("Salah")

Salah

In [27]:
masukkan = int(input("Masukkan angka: "))
var_y = 10
if masukkan < var_y:
    print(masukkan, 'lebih kecil', var_y)
else:
    print(masukkan, 'lebih besar', var_y)

Masukkan angka: 98
98 lebih besar 10

In [28]:
#elif
your_name = input("Masukkan Nama Anda!")
time = int(input("Pukul berapa Anda datang?"))
masuk = 8
limit = 10
print("Halo", your_name)
if time < 8:
    print("Wah, Anda sangat rajin, %s!" % your_name)
elif time == 8:
    print("Anda tepat waktu, %s!" % your_name)
elif time > 8 and time <= limit:
    print("Peringatan, %s!" % your_name)
else:
    print("Anda kena SP")

Masukkan Nama Anda!Rama
Pukul berapa Anda datang?10
Halo Rama
Peringatan, Rama!

## LOOP

In [29]:
sayur = ['Bayam', 'Kangkung', 'Sawi']
for elemen in sayur :
    print("saya ingin makan %s" % elemen)

saya ingin makan Bayam
saya ingin makan Kangkung
saya ingin makan Sawi

In [30]:
angka_baris = [1,2,3,4,5]
for nomor in angka_baris:
    print(nomor)

1
2
3
4
5

## While, Break, Pass

In [31]:
t = 2
while t < 10:
    print(t)
    t += 3

2
5
8

In [32]:
isi_angka = int(input("Masukkan Angka"))
angka_z = [1,2,3,4,5,6,7,8,9,10]
for a in angka_z:
    print(a)
    if a == isi_angka:
        print("Angka %d ditemukan" % isi_angka)
        break

Masukkan Angka8
1
2
3
4
5
6
7
8
Angka 8 ditemukan